@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    font-family: 'Rubik', sans-serif;
}

.weather-header{
    margin-top: 2%;
    margin-bottom: 2%;
    display: grid;
    grid-template-columns: 1fr 25% 1fr;
    grid-template-areas: "title update none"
}

.title{
    color: #799BAF;
    font-size: 2.2em;
    margin: 0;
}

.wait {
    font-size: 180%;
}

.wait-city {
    font-size: 150%;
}

.update-btn:active,
.update-btn:focus {
    outline: none;
}

.update-btn-image {
    display: none;
}

.update-btn-image:active,
.update-btn-image:focus {
    outline: none;
}

.btn-plus:active,
.btn-plus:focus {
    outline: none;
}

.btn {
    float: right;
    width: 10%;
    height: 4.05vw;
    object-fit: contain;
    background-color: white;
    background-image: url("../images/cross.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: 0;
}

.btn:active,
.btn:focus {
    outline: none;
}

.wait {
    font-size: 180%;
}

.wait-city {
    font-size: 150%;
}

.container{
    margin: 2%;
}

.main-city{
    /*margin: 0 0 8%;*/
    font-size: 2.5em;
    font-weight: bold;
}

.info li{
    margin-bottom: 1%;
}

.update-btn {
    width: 100%;
    height: 100%;
    background-color: #c9d2d7;
    font-size: 1.3vw;
    color: inherit;
    border: 0;
    border-radius: 5px;
}

.update-btn-image {
    display: none;
}

.cities{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1%;
}

.city-weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}

.btn-plus {
    float: right;
    height: 4.55vw;
    object-fit: contain;
    background-color: white;
    background-image: url("../images/plus.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: 0;
}

.picture {
    width: 12%;
    margin-right: 10%;
}

.btn {
    float: right;
    width: 10%;
    height: 4.55vw;
    object-fit: contain;
    background-color: white;
    background-image: url("../images/cross.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: 0;
}

.weather-property{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #A6B0B6;
    color: white;
    font-size: 0.8em;
}

.weather-property p{
    text-align: right;
}

.temp{
    margin: auto;
}

h3{
    font-size: 1.0em;
    color: #6E8090;
}

h2, .temp{
    font-size: 2em;
    color: #6E8090;
    margin: 0;
}

h4{
    margin-left: 3%;
}


.temp{
    color: #6A7681;
    text-align: right;
    margin: auto;
}

.weather-property p{
    text-align: right;
    margin-right: 3%;
}

li {
    list-style-type: none;
}
ul {
    margin-left: 0;
    padding-left: 0;
}

.input-city{
    margin: 0 10px 0 0;
    background-color: #f1f1f1;
    font-size: 1.1vw;
    border: 0;
}

@media screen and (min-width: 600px) and (max-width: 940px){

    .main-weather-img{
        width: 70%;
    }

    h3{
        font-size: 2.0em;
        color: #6E8090;
    }

    .add-city {
        margin-top: 1%;
        display: grid;
        grid-template-columns: 95% 5%;
        width: 100%;
        font-size: 1em;
    }

    .main-weather{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .main-temp{
        font-size: 3.8em;
        margin: auto 20% 0;
        color: #6A7681;
    }

    .input-city{
        font-size: 1em;
    }

    .btn {
        float: right;
        width: 10%;
        height: 6.1vw;
        object-fit: cover;
        background-color: white;
        background-image: url("../images/cross.png");
        background-size: contain;
        background-repeat: no-repeat;
        border: 0;
    }

    .btn-plus {
        float: right;
        height: 5.05vw;
        object-fit: cover;
        background-color: white;
        background-image: url("../images/plus.png");
        background-size: contain;
        background-repeat: no-repeat;
        border: 0;
    }
}

@media screen and (max-width: 670px){
    .main-temp{
        font-size: 3.5em;
        margin: auto 20% 0;
        color: #6A7681;
    }

    .main-city{
        font-size: 2.1em;
    }
}

@media screen and (min-width: 940px){
    .main-city{
        /*margin: 0 0 8%;*/
        font-size: 3em;
        font-weight: bold;
    }

    .update-btn-image{
        display: none;
    }

    .fav-city{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .add-city{
        display: grid;
        grid-template-columns: 90% 10%;
    }

    .main-info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1%;
    }

    .main-weather{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .main-temp{
        font-size: 3.2em;
        margin: auto 0 0;
        color: #6A7681;
    }
}

@media screen and (max-width: 940px){
    .update-btn{
        display: none;
    }

    .update-btn-image {
        margin-right: 20%;
        display: block;
        width: 15%;
        height: 9vw;
        object-fit: cover;
        background-color: white;
        background-image: url("../images/update.png");
        background-size: contain;
        background-repeat: no-repeat;
        border: 0;
    }

    .weather-header{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 1em;
    }

}


@media screen and (max-width: 600px) {
    .cities{
        display: grid;
        grid-template-columns: 1fr;
    }

    .main-weather-img {
        width: 40%;
    }

    .add-city{
        display: grid;
        grid-template-columns: 91% 9%;
        width: 100%;
        font-size: 1em;
    }

    .input-city{
        width: 90%;
        font-size: 1em;
    }

    .main-weather{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .main-temp{
        font-size: 2.0em;
        margin: auto 0 0;
        color: #6A7681;
    }

    .btn {
        float: right;
        width: 10%;
        height: 7.5vw;
        object-fit: cover;
        background-color: white;
        background-image: url("../images/cross.png");
        background-size: contain;
        background-repeat: no-repeat;
        border: 0;
    }

    .btn-plus {
        margin-right: 15%;
        float: left;
        height: 7.5vw;
        object-fit: cover;
        background-color: white;
        background-image: url("../images/plus.png");
        background-size: contain;
        background-repeat: no-repeat;
        border: 0;
    }

    .update-btn-image {
        margin-right: 20%;
        display: block;
        width: 15%;
        height: 7.5vw;
        object-fit: cover;
        background-color: white;
        background-image: url("../images/update.png");
        background-size: contain;
        background-repeat: no-repeat;
        border: 0;
    }
}

@media screen and (max-width: 370px){
    .title{
        font-size: 1.3em;
    }
}